.logo {
    width: 200px;
    transform: skewX(45deg);
    position: absolute;
    right: 0%;
    top : -15%;
}

.rotated-div {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 150px;
    margin-left: -90px;
    transform: skewX(-45deg);
}

.header-grey {
    background-color: #f5f5f5;
    height: 60%;
    /* position: relative; */
}

.header-blue{
    background-color: #0047b2;
    height: 40%;
}

.h-150 {
    height: 150px;
}

.bold {
    font-weight: 900;
}

.light-grey {
    color: #a6a6a6;
}

.pd-l-200{
    padding-left: 170px;
}   

.v-center{
    padding-top: 13px;
  /* position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}

.border-left-grey{
    position: relative;
}

.border-left-grey::after{
    content: '';
  position: absolute;
  left: 0px;
  top: 25%;
  height: 50%;
  border-left: 1px solid #a6a6a6;
}

.divider{
    display: inline-block;
 width: 0;
 height: 1em;
 border-left: 1px solid #ccc;
 border-right: 1px solid #ccc;
}

.blue{
    background-color: #0047b2 !important;
    color: white;
    border: transparent !important      ;
}

.btn-contact-us{
    padding-top: 13px;
}

.nav-link{
    color: white !important;
    text-transform: capitalize !important;
    
}

.nav-link.active::before, .nav-link:before,
.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-link {
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .nav-link:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -2px;
    left: 0;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .hero-bg{
      background-image: url('../images/hero-bg.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 600px;
  }
  .text-align-center{
      text-align: center;
  }

  .p-top-50{
      padding-top: 50px;
  }

  .hero-form{
      background-color: #ffffffb4;
      padding: 5px;
      border-radius: 5px;
  }

  .no-border {
      border : transparent !important;
  }

  .vertical-align {
    margin: auto;
    width: 80%;
    padding: 70px;
    padding-top: 100px;
    text-align: left;
    float:left;
  }

  .maintenance-body{
    width: 100%;
    height: 700px;
    padding : 70px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }

  .white{
      color :rgb(255, 255, 255);
      font-family: Arial;
  }

  .maintenance-image{
      float : right;
  }
  .nav-link-footer {
      color : #0047b2 !important;
      font-weight: bold;
  }

  #googlemaps {
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
  }
  
  #contactform {
    position: relative;
    z-index: 1; /* The z-index should be higher than Google Maps */
    width: 300px;
    margin: 60px auto 0;
    padding: 10px;
    background: black;
    height: auto;
    opacity: .45; /* Set the opacity for a slightly transparent Google Form */
    color: white;
  }

  .maps {
    width:100%;
     height:450px;
     border:0;
  }

  .card-carousel{
    padding-right: 100px;
  }